*.o
*.d
*.a
*.la
*.lai
*.lo
*.log
*.local
*.dll
*.so
*.*~
*.Plo
*.out
lib/xGPU/src/xgpuinfo
lib/xGPU/src/cuda_correlator
lib/beamformer/src/test_beamformer
autom4te.cache
.libs/
*.old
*.fig
*.txt
*.mat
.deps/
*.swp
